doctype html
html(lang='en', ng-app='')
  head
    title Chat Example
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='/stylesheets/style.css', rel='stylesheet')

    style.
      body {
      padding-top: 60px;
      }
    script.
      function ChatController($scope) {
      var socket = io.connect();
      $scope.messages = [];
      $scope.roster = [];
      $scope.name = '';
      $scope.text = '';
      socket.on('connect', function () {
      $scope.setName();
      });
      socket.on('message', function (msg) {
      $scope.messages.push(msg);
      $scope.$apply();
      });
      socket.on('roster', function (names) {
      $scope.roster = names;
      $scope.$apply();
      });
      $scope.send = function send() {
      console.log('Sending message:', $scope.text);
      socket.emit('message', $scope.text);
      $scope.text = '';
      };
      $scope.setName = function setName() {
      socket.emit('identify', $scope.name);
      };
      }
  body
    .container(ng-controller='ChatController')
      .navbar.navbar-fixed-top.navbar-inverse
        .navbar-inner
          .pull-right
            a.brand(href='https://c9.io') Cloud9 IDE
      .page-header
        h1 Chat Example
      .row
        .span3
          ul.nav.nav-list.well
            li.nav-header Local Users
            li(ng-repeat='user in roster', ng-bind='user')
        .span9
          table.table.table-striped.table-bordered
            thead
              tr
                th.span2 Name
                th.span7 Text
            tbody
              tr(ng-repeat='msg in messages')
                td.span2(ng-bind='msg.name')
                td.span7(ng-bind='msg.text')
          .row.controls
            form(ng-submit='send()')
              .span2
                input.input-block-level(type='text', ng-model='name', ng-change='setName()', placeholder='Your Name')
              .input-append.span7
                input.span6(type='text', ng-model='text', placeholder='Message')
                input.span1.btn.btn-primary(type='submit', value='Send', ng-disabled='!text')
    script(src='/socket.io/socket.io.js')
    script(src='/js/jquery.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/angular.min.js')
