doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Messages
    meta(name='description', content='Source code generated using layoutit.com')
    meta(name='author', content='LayoutIt!')
    link(href='/stylesheets/bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container-fluid
      .row
        .col-md-12
        nav.navbar.navbar-default(role='navigation')
            .navbar-header
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href='#') WatchIt
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
              ul.nav.navbar-nav
                li.active
                  a(href='#') Home
                li
                  a(href='/messages') Messages
                li
                  a(href='/profile') Profile
                li
                  a(href='/events') Events
                
              form.navbar-form.navbar-left(role='search')
                .form-group
                  input.form-control(type='text')
                button.btn.btn-default(type='submit')
                  | Submit
              ul.nav.navbar-nav.navbar-right
                li.dropdown
                  #signOnButton
                   .g-signin2(data-onsuccess='onSignIn', data-theme="dark")
                  #logoutButton(style = "display:none")
                    button(onclick = 'signOut()') Logout
                    

                  ul.dropdown-menu
                    li
                      a(href='#') Settings
                    li
                      a(href='#') Privacy
                    li.divider
                    li
                      a(href='#') Log Out
          .page-header
          h3
            | Messages
          .row
          table.table.table-hover
            tr
              #panel-346102.panel-group
                .panel.panel-default
                  .panel-heading
                    a.panel-title.collapsed(data-toggle='collapse', data-parent='#panel-346102', href='#panel-element-141483') Collapsible Group Item #1
                  #panel-element-141483.panel-collapse.collapse
                    .panel-body
                      .col-md-6
                        | Message goes here
                      .col-md-6
                        form(role='form')
                          .form-group
                            label(for='reply')
                              | Reply
                            textarea#reply.form-control(rows='3')
                          button.btn.btn-default(type='submit')
                            | Send
    script(src='javascripts/jquery.min.js')
    script(src='javascripts/bootstrap.min.js')
