doctype html
html(lang='en-us')
  head
    meta(charset='utf-8')
    title WatchIt
    // Bootstrap
    link(href='/stylesheets/style.css', rel='stylesheet')
  nav.navbar.navbar-default(role='navigation')
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='#') WatchIt
          #bs-example-navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav
              li
                a(href='/') Home
              li.active
                a(href='/profile') Profile
              li
                a(href='/event') Create Event
              li
                a(href='/events') Events
              
            form.navbar-form.navbar-left(role='search')
              .form-group
                input.form-control(type='text')
              button.btn.btn-default(type='submit')
                | Submit
            
            ul.nav.navbar-nav.navbar-right
              li.dropdown
                #signOnButton
                 .g-signin2(data-onsuccess='onSignIn', data-theme="dark")
                #logoutButton(style = "display:none")
                  button(onclick = 'signOut()') Logout
                  

                ul.dropdown-menu
                  li
                    a(href='#') Settings
                  li
                    a(href='#') Privacy
                  li.divider
                  li
                    a(href='#') Log Out

  .container-fluid
    .row
      .col-md-6
        .page-header
          h1
            | The Walking Dead
            small  Season 8 , Episode 01
        img(alt='Bootstrap Image Preview', src='http://www.dreadcentral.com/wp-content/uploads/2017/07/twd-season8-s.jpg')
      .col-md-6
        h2
          | Description
        p
          | #{corn}
        p
          a.btn(href='#') View more details »
        .page-header
          h1
            | Viewing Parties
        table.table
          thead
            tr
              th
                | Host
              th
                | Date
              th
                | Attendees
              th
                | Location
          tbody
            tr
              td
                | Sean McCarthy
              td
                | 10/22/2017
              td
                | 15
              td
                | Salinas
            tr
              td
                | Laura McRae
              td
                | 10/23/2017
              td
                | 2
              td
                | Seaside
            tr
              td
                | Christian Martinez
              td
                | 10/25/2017
              td
                | 3
              td
                | Seaside
            tr
              td
                | Adrian Martinez
              td
                | 10/22/2017
              td
                | 30
              td
                | Marina
  body
    button(onclick='getAllEvents()') Show All Events
    div(id = "eventsList")
      
script(src='https://www.gstatic.com/firebasejs/4.7.0/firebase.js')
script(src='https://apis.google.com/js/platform.js', async='', defer='')
meta(name='google-signin-client_id', content='1074718974281-qver9kk103prmb48ms3s4i6lameajk0b.apps.googleusercontent.com')
meta(name='google-signin-cookiepolicy', content='single_host_origin')
meta(name='google-signin-scope', content='profile email')
script.
  // Initialize Firebase
  var config = {
  apiKey: "AIzaSyAKIee16H8oZU4UlTbg75ArzcvocO1JscE",
  authDomain: "watchit-csumb.herokuapp.com",
  databaseURL: "https://watchit-61266.firebaseio.com",
  projectId: "watchit-61266",
  storageBucket: "watchit-61266.appspot.com",
  messagingSenderId: "1074718974281"
  };
  firebase.initializeApp(config);
script(src='/javascripts/firebase-conn.js')
script(src='/javascripts/google-interactions.js')
script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
script(type='text/javascript', src='https://addevent.com/libs/atc/1.6.1/atc.min.js', async='', defer='')
