doctype html
html(lang='en-us')
  head
    meta(charset='utf-8')
    title WatchIt
    // Bootstrap
    link(href='/stylesheets/style.css', rel='stylesheet')
  nav.navbar.navbar-default(role='navigation')
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='#') Brand
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      ul.nav.navbar-nav
        li.active
          a(href='/') Home
        li
          a(href='/messages') Messages
        li
          a(href='/profile') Profile
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            | Events
            strong.caret
          ul.dropdown-menu
            li
              a(href='#') Action
            li
              a(href='#') Another action
            li
              a(href='#') Something else here
            li.divider
            li
              a(href='#') Separated link
            li.divider
            li
              a(href='#') One more separated link
      form.navbar-form.navbar-left(role='search')
        .form-group
          input.form-control(type='text')
        button.btn.btn-default(type='submit')
          | Submit
      ul.nav.navbar-nav.navbar-right
        li
          a(href='#') Link
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            | Account
            strong.caret
          ul.dropdown-menu
            li
              a(href='#') Settings
            li
              a(href='#') Privacy
            li.divider
            li
              a(href='#') Log Out
  .container-fluid
    .row
      .col-md-6
        .page-header
          h1
            | The Walking Dead
            small  Season 8 , Episode 01
        img(alt='Bootstrap Image Preview', src='http://www.dreadcentral.com/wp-content/uploads/2017/07/twd-season8-s.jpg')
      .col-md-6
        h2
          | Description
        p
          | #{corn}
        p
          a.btn(href='#') View more details »
        .page-header
          h1
            | Viewing Parties
        table.table
          thead
            tr
              th
                | Host
              th
                | Date
              th
                | Attendees
              th
                | Location
          tbody
            tr
              td
                | Sean McCarthy
              td
                | 10/22/2017
              td
                | 15
              td
                | Salinas
            tr
              td
                | Laura McRae
              td
                | 10/23/2017
              td
                | 2
              td
                | Seaside
            tr
              td
                | Christian Martinez
              td
                | 10/25/2017
              td
                | 3
              td
                | Seaside
            tr
              td
                | Adrian Martinez
              td
                | 10/22/2017
              td
                | 30
              td
                | Marina
