doctype html              
html. // THAT DOT

<head>
<meta charset="utf-8">
<title>WatchIt</title>
<!-- Bootstrap -->
<link href="/stylesheets/style.css" rel="stylesheet">
</head>

<body>
<div class="container-fluid">
<div class="row">

<div class="col-md-12">
<nav class="navbar navbar-default" role="navigation">
<div class="navbar-header">

<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
<span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
</button> <a class="navbar-brand" href="#">Brand</a>
</div>

<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<ul class="nav navbar-nav">
<li class="active">
<a href="#">Home</a>
</li>
<li>
<a href="#">Messages</a>
</li>
<li>
<a href="#">Profile</a>
</li>
<li class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown">Events<strong class="caret"></strong></a>
<ul class="dropdown-menu">
<li>
<a href="#">Action</a>
</li>
<li>
<a href="#">Another action</a>
</li>
<li>
<a href="#">Something else here</a>
</li>
<li class="divider">
</li>
<li>
<a href="#">Separated link</a>
</li>
<li class="divider">
</li>
<li>
<a href="#">One more separated link</a>
</li>
</ul>
</li>
</ul>
<form class="navbar-form navbar-left" role="search">
<div class="form-group">
<input type="text" class="form-control" />
</div>
<button type="submit" class="btn btn-default">
Submit
</button>
</form>
<ul class="nav navbar-nav navbar-right">
<li>
<a href="#">Link</a>
</li>
<li class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown">Account<strong class="caret"></strong></a>
<ul class="dropdown-menu">
<li>
<a href="#">Settings</a>
</li>
<li>
<a href="#">Privacy</a>
</li>
<li class="divider">
</li>
<li>
<a href="#">Log Out</a>
</li>
</ul>
</li>
</ul>
</div>

</nav>
<div class="page-header">
<h1>
WatchIt <small>watch stuff with your pals!</small>
</h1>
</div>
<div class="row">
<div class="col-md-10">
<div class="carousel slide" id="carousel-639292">
<ol class="carousel-indicators">
<li class="active" data-slide-to="0" data-target="#carousel-639292">
</li>
<li data-slide-to="1" data-target="#carousel-639292">
</li>
<li data-slide-to="2" data-target="#carousel-639292">
</li>
</ol>
<div class="carousel-inner">
<div class="item active">
<img alt="Carousel Bootstrap First" src="http://lorempixel.com/output/sports-q-c-1600-500-1.jpg" />
<div class="carousel-caption">
<h4>
Game Showings
</h4>
<p>
Watch sport related things!
</p>
</div>
</div>
<div class="item">
<img alt="Carousel Bootstrap Second" src="http://lorempixel.com/output/sports-q-c-1600-500-2.jpg" />
<div class="carousel-caption">
<h4>
Game of Thrones Viewing Parties
</h4>
<p>
Watch your favorite characters get killed off!
</p>
</div>
</div>
<div class="item">
<img alt="Carousel Bootstrap Third" src="http://lorempixel.com/output/sports-q-c-1600-500-3.jpg" />
<div class="carousel-caption">
<h4>
Watch the Fight
</h4>
<p>
Watch people get beat up!
</p>
</div>
</div>
</div> <a class="left carousel-control" href="#carousel-639292" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-639292" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>
</div>
<div class="col-md-2">
<div class="list-group">
<a href="#" class="list-group-item active">Home</a>
<div class="list-group-item">
Information
</div>
<div class="list-group-item">
<h4 class="list-group-item-heading">
News
</h4>
<p class="list-group-item-text">
It is WatchIt's first week online!
</p>
</div>
<div class="list-group-item">
<span class="badge">1</span>Notifications
</div> <a class="list-group-item active"><span class="badge">1</span>Account</a>
<a class="list-group-item active"><span class="badge">3</span>Updates</a>
</div>
</div>
</div>
<div class="row">
<div class="col-md-4">
<blockquote>
<p>
Sports
</p>
</blockquote>
<div class="panel-group" id="panel-792217">
<div class="panel panel-default">
<div class="panel-heading">
<a class="panel-title" data-toggle="collapse" data-parent="#panel-792217" href="#panel-element-899617">Show Viewings</a>
</div>
<div id="panel-element-899617" class="panel-collapse collapse in">
<div class="panel-body">
Popular Viewings
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<a class="panel-title" data-toggle="collapse" data-parent="#panel-792217" href="#panel-element-803115">Host Viewing</a>
</div>
<div id="panel-element-803115" class="panel-collapse collapse">
<div class="panel-body">
Create Event
</div>
</div>
</div>
</div>
</div>
<div class="col-md-4">
<blockquote>
<p>
Shows
</p>
</blockquote>
<div class="panel-group" id="panel-53908">
<div class="panel panel-default">
<div class="panel-heading">
<a class="panel-title" data-toggle="collapse" data-parent="#panel-53908" href="#panel-element-943073">Join Game Day!</a>
</div>
<div id="panel-element-943073" class="panel-collapse collapse in">
<div class="panel-body">
Popular Viewings
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<a class="panel-title" data-toggle="collapse" data-parent="#panel-53908" href="#panel-element-217509">Host Viewings!</a>
</div>
<div id="panel-element-217509" class="panel-collapse collapse">
<div class="panel-body">
Create viewing event
</div>
</div>
</div>
</div>
</div>
<div class="col-md-4">
<blockquote>
<p>
Other
</p>
</blockquote>
<div class="panel-group" id="panel-833684">
<div class="panel panel-default">
<div class="panel-heading">
<a class="panel-title" data-toggle="collapse" data-parent="#panel-833684" href="#panel-element-192515">Watch Season Showings</a>
</div>
<div id="panel-element-192515" class="panel-collapse collapse in">
<div class="panel-body">
Create viewing event
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<a class="panel-title" data-toggle="collapse" data-parent="#panel-833684" href="#panel-element-89457">Host Viewings</a>
</div>
<div id="panel-element-89457" class="panel-collapse collapse">
<div class="panel-body">
Popular Show Viewings
</div>
</div>
</div>
</div>
</div>
</div>
<h3 class="text-info text-right">
Sign up now!
</h3>

</div>
</div>
</div>
</body>

