doctype html
html
  head
    meta(charset='utf-8')
    title WatchIt
    // Bootstrap
    link(href='/stylesheets/style.css', rel='stylesheet')
  body
    .container-fluid
      .row
        .col-md-12
          nav.navbar.navbar-default(role='navigation')
            .navbar-header
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href='#') Brand
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
              ul.nav.navbar-nav
                li.active
                  a(href='#') Home
                li
                  a(href='#') Messages
                li
                  a(href='#') Profile
                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown')
                    | Events
                    strong.caret
                  ul.dropdown-menu
                    li
                      a(href='#') Action
                    li
                      a(href='#') Another action
                    li
                      a(href='#') Something else here
                    li.divider
                    li
                      a(href='#') Separated link
                    li.divider
                    li
                      a(href='#') One more separated link
              form.navbar-form.navbar-left(role='search')
                .form-group
                  input.form-control(type='text')
                button.btn.btn-default(type='submit')
                  | Submit
              ul.nav.navbar-nav.navbar-right
                li
                  a(href='./chat') Live Chat
                li.dropdown
                  .g-signin2(data-bind='visible: !isSigned()', data-onsuccess='onSignIn', data-theme="dark")
                  #logoutButton()
                    button(onclick = 'signOut()') Logout
                    button(onclick = 'googleTest()') Test

                  ul.dropdown-menu
                    li
                      a(href='#') Settings
                    li
                      a(href='#') Privacy
                    li.divider
                    li
                      a(href='#') Log Out
          .page-header
            h1
              | WatchIt 
              small watch stuff with your pals!
          .row
            .col-md-10
              #carousel-639292.carousel.slide
                ol.carousel-indicators
                  li.active(data-slide-to='0', data-target='#carousel-639292')
                  li(data-slide-to='1', data-target='#carousel-639292')
                  li(data-slide-to='2', data-target='#carousel-639292')
                .carousel-inner
                  .item.active
                    img(alt='Carousel Bootstrap First', src='http://lorempixel.com/output/sports-q-c-1600-500-1.jpg')
                    .carousel-caption
                      h4
                        | Game Showings
                      p
                        | Watch sport related things!
                  .item
                    img(alt='Carousel Bootstrap Second', src='http://lorempixel.com/output/sports-q-c-1600-500-2.jpg')
                    .carousel-caption
                      h4
                        | Game of Thrones Viewing Parties
                      p
                        | Watch your favorite characters get killed off!
                  .item
                    img(alt='Carousel Bootstrap Third', src='http://lorempixel.com/output/sports-q-c-1600-500-3.jpg')
                    .carousel-caption
                      h4
                        | Watch the Fight
                      p
                        | Watch people get beat up!
                a.left.carousel-control(href='#carousel-639292', data-slide='prev')
                  span.glyphicon.glyphicon-chevron-left
                a.right.carousel-control(href='#carousel-639292', data-slide='next')
                  span.glyphicon.glyphicon-chevron-right
            .col-md-2
              .list-group
                a.list-group-item.active(href='#') Home
                .list-group-item
                  | Information
                .list-group-item
                  h4.list-group-item-heading
                    | News
                  p.list-group-item-text
                    | It is WatchIt's first week online!
                .list-group-item
                  span.badge 1
                  | Notifications
                a.list-group-item.active
                  span.badge 1
                  | Account
                a.list-group-item.active
                  span.badge 3
                  | Updates
          .row
            .col-md-4
              blockquote
                p
                  | Sports
              #panel-792217.panel-group
                .panel.panel-default
                  .panel-heading
                    a.panel-title(data-toggle='collapse', data-parent='#panel-792217', href='#panel-element-899617') Show Viewings
                  #panel-element-899617.panel-collapse.collapse.in
                    .panel-body
                      | Popular Viewings
                .panel.panel-default
                  .panel-heading
                    a.panel-title(data-toggle='collapse', data-parent='#panel-792217', href='#panel-element-803115') Host Viewing
                  #panel-element-803115.panel-collapse.collapse
                    .panel-body
                      | Create Event
            .col-md-4
              blockquote
                p
                  | Shows
              #panel-53908.panel-group
                .panel.panel-default
                  .panel-heading
                    a.panel-title(data-toggle='collapse', data-parent='#panel-53908', href='#panel-element-943073') Join Game Day!
                  #panel-element-943073.panel-collapse.collapse.in
                    .panel-body
                      | Popular Viewings
                .panel.panel-default
                  .panel-heading
                    a.panel-title(data-toggle='collapse', data-parent='#panel-53908', href='#panel-element-217509') Host Viewings!
                  #panel-element-217509.panel-collapse.collapse
                    .panel-body
                      | Create viewing event
            .col-md-4
              blockquote
                p
                  | Other
              #panel-833684.panel-group
                .panel.panel-default
                  .panel-heading
                    a.panel-title(data-toggle='collapse', data-parent='#panel-833684', href='#panel-element-192515') Watch Season Showings
                  #panel-element-192515.panel-collapse.collapse.in
                    .panel-body
                      | Create viewing event
                .panel.panel-default
                  .panel-heading
                    a.panel-title(data-toggle='collapse', data-parent='#panel-833684', href='#panel-element-89457') Host Viewings
                  #panel-element-89457.panel-collapse.collapse
                    .panel-body
                      | Popular Show Viewings
          h3.text-info.text-right
            | Sign up now!
    
    //Firebase login
    script(src='https://www.gstatic.com/firebasejs/4.7.0/firebase.js')
    script(src='https://apis.google.com/js/platform.js', async='', defer='')
    meta(name='google-signin-client_id', content='502241240558-cev4ig5hj7350bmapo1bh7n8bih7mauc.apps.googleusercontent.com')
    meta(name='google-signin-cookiepolicy', content='single_host_origin')
    meta(name='google-signin-scope', content='profile email')
    script.
      // Initialize Firebase
      var config = {
      apiKey: "AIzaSyBv89xBwcS8AYJ5i9hK5xWLYxTXRc1QGOU",
      authDomain: "cst438-finalproject-smccarthy0426.c9users.io",
      databaseURL: "https://watchit-7a6cb.firebaseio.com",
      projectId: "watchit-7a6cb",
      storageBucket: "",
      messagingSenderId: "502241240558"
      };
      firebase.initializeApp(config);
    script(src='/javascripts/google-interactions.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')


